.navbar {
  background-color: #729A9E;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: black;
}

.navbar-collapse {
  padding: 0px;
}

ul.nav {
  margin: 0px;
  background-color: #729A9E;
}

ul.nav>li>hr {
  margin: 0px;
  border-top: 1px solid grey;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  color: black;
}

.column-content {
  background-color: #729A9E;
  padding: 5px 20px 5px 20px;
  margin: 5px;
}

.column-content>p {
  min-height: 1000px;
}

.column-header {
  margin-top: 5px;
  margin-bottom: 10px;
}

.back-to-top-link {
  color: black;
}