.navbar-collapse {
	padding: 0px;
}

ul.nav {
  margin: 0px;
  background-color: #729A9E;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  color: black;
}

ul.nav>li>hr {
  margin: 0px;
  border-top: 1px solid grey;
}

.column-content {
	background-color: #729A9E;
	padding: 5px 20px 5px 20px;
	margin: 5px;
}

.column-content>p {
	min-height: 1000px;
}

.column-header {
	margin-top: 5px;
	margin-bottom: 10px;
}

.back-to-top-link {
}